* {
  font-family: 'Alfa Slab One', cursive;
}

.btn {
  background-color: #0275d8;
  color: black;
}

.disable-div {
  pointer-events: none;
}

.highlight {
  background-color: red;
  color: white;
}

.jumbotron {
  background-color: blueviolet;
}

.O {
  color: black;
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
}

.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

.tile {
  background-color: rgb(203, 228, 235);
  border: 2px solid white;
  height: 100px;
  width: 100px;
  
}
.vertical-center {
  position: relative;
  top: 20%;
}

.win-tile {
  background-color: pink;
}

.winUI-0 {
  background-color: chartreuse;
  color: red;
}

.winUI-1 {
  background-color: blue;
  color: white;
}

.X {
  color: red;
  font-size: 40px;
  font-family: 'Indie Flower', cursive;
}

